
.alfajor-section{
    margin: 1.5rem 0;
    h2{
        color: #9f4c35;
        font-weight: 800;
    }
    img{
        min-width: 100%;
        border-radius: 15px 15px 0 0 ;
    }
}

#alfajor{
    border-radius: 15px;
    background-color: #eef5e9;
    margin: auto;
    img{
        border-radius: 0 0 15px 15px;
    }
    p{
        color: #9f4c35;
    }
}

.title-alfajor{
    border-bottom: 8px solid #9f4c35;
    width: 80%;
    margin: 0 auto;
}

