

.section-salad{
    background-color: rgb(209, 182, 108);
    border-radius: 15px;
    margin: 1rem auto;
}

.box-items{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title-salad{
    width: 100%;
    border-bottom: 6px solid #a57d10;
    h2{
        font-weight: 800;
        font-size: 1.7em;
        color:#a57d10;
        margin: 2rem 0;
        width: 100%;
    }
    img{
        width: 60%;
        margin: 10% auto 8% auto;
    };
}

