
.section-delicious{
    background-color: #eef5e9;
    border-radius: 15px 15px 0 0;
    color: rgb(31 41 55);
    margin: 1rem auto 0 auto;
    padding: 0 5px;
    overflow: hidden;
}

.title-postre{
    width: 100%;
    margin: auto;
    text-align: center;
    h2{
        width: 100%;
        font-weight: 800;
        color: #d68502fe;
        padding: 1rem;
    }
    p{
        font-weight: 700;
    }
    img{
        width: 90%;
        border-radius: 10px;
    }
}

.box-dessert{
    background-color: rgba(243, 243, 243, 0.20);
    justify-content: space-between;
    border-radius: 0;
    h3{
        font-variant: small-caps;
    }
    p{
        text-align: center;
    }
}

.box-dessert:first-child {
    border-radius: 0 10px 0 0;
}
.box-dessert:last-child {
    border-radius: 0 0 10px 0;
}

.title{
    font-variant: small-caps;
}

.box-description{
    width: 100%;
}

.text-description{
    font-size: 1em;
    width: 100%;
}

.box-description p:first-of-type{
    background-color: #d68502fe;
    color: #f3f3f3;
    border-radius: 30px;
    margin: .5em 0;
}

