.breakfast{
    background-color: #f3f3f3;
    color: #557237;
    font-weight: 600;h1{
    font-weight: 700;
    font-size: 2rem;
    }
    p{
        font-size: .9em;
    }

    img{
        width: 50%;
        margin: auto;
    }
}