#desayunos{
    border-radius: 15px;
    h1{
        color: #557237;
        font-weight: 600;
        font-weight: 700;
        border-bottom: 4px solid #557237;
        width: 90%;
        margin: auto;
        padding: 2rem 0;
    }
}

.breakfast{
    background-color: #f3f3f3;

    img{
        width: 80%;
        margin: auto;
    }
}