#desayunos{
    h1{
        color: #557237;
        font-weight: 600;
        font-weight: 700;
        font-size: 2rem;
    }
}

.breakfast{
    background-color: #f3f3f3;
    p{
        font-size: 1em;
        color: #3b3f56;
    }

    img{
        width: 50%;
        margin: auto;
    }
}