#hamburguesas{
    color: #d43f12;
    border-radius: 15px;
    font-weight: 600;
}


.box-burger{
    display: flex;
    flex-direction: row-reverse;
    h1{
        width:80%;
        font-weight: 800;
        font-size: 1.8rem;
    }
    img{
        width: 50%;
    }
}